<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103295514-1"></script>

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  // old tag to be removed once new tag is confirmed
  gtag('config', 'UA-103295514-1');

  // new tag to be confirmed is working
  gtag('config', 'AW-860861642');
