%h1{style: "text-align:center"}
	Try Turing
%h3 Contact Request

%table{width: '100%'}
	%tr
		%td{width: '100px'}
			Name:
		%td= @name
	%tr
		%td Reason for inquiry:
		%td= @reason
	%tr
		%td Message:
		%td= @message
