%h1{style: "text-align:center"}
	Try Coding
%h3 Contact Request

%table{width: '100%'}
	%tr
		%td{width: '100px'} Name:
		%td= @name
  %tr
    %td Email:
    %td= @email
	%tr
		%td Reason for Inquiry:
		%td= @reason
	%tr
		%td Message:
		%td= @message
