.block-try-turing-explained {
    padding: 10px 0 25px;

    hr {
        margin: 60px auto;
    }

    .video-container {
        height: 0;
        margin: 0 auto;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 315px;
        padding-top: 30px;
        position: relative;
        text-align: center;
        width: 560px;
    }

    .video-container iframe, .video-container object, .video-container embed {
        display: block;
        height: 100%;
        max-height: 315px;
        max-width: 560px;
        position: absolute;
        width: 100%;
    }
}
