$xs: "screen and (max-width: 767px)";
$sm: "screen and (min-width: 768px) and (max-width: 991px)";
$md: "screen and (min-width: 992px) and (max-width: 1199px)";
$lg: "screen and (min-width: 1200px)";
$brand-primary: #21C2CF;
$brand-danger: #EC1C24;
$font-size-base: 16px;
$font-size-small: 14px;
$text-color: #7C8C8E;
$gray-dark: #3C4040;
